# Data Wrangling and EDA with pandas
# Part 3: Working on the KDD98 Dataset

We just familiarized us with data wrangling using the Titanic dataset in Part 2 of this lecture. Part 3 is mainly an in-class exercise, where you will perform a limited number of data wrangling operations over the KDD98 dataset as instructed below. In Homework 1, you will conduct more data wrangling and EDA over this dataset.

## Load the necessary Python packages, and load the KDD98 dataset

More coding cells are intentionally left empty in Part 3, as compared to Parts 1 and 2, so that you will graduately do more coding rather than reading the instructor's code.
+ Feel free to use earlier code as template

In [12]:
import pandas as pd
kdd98=pd.read_csv('KDD98.csv')

## Drop column `ID`

In [13]:
kdd98.drop(columns=['ID'], inplace=True)

In [14]:
kdd98.head()

,TargetB,TargetD,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemMedIncome,DemPctVeterans,GiftCnt36,...,GiftTimeFirst,GiftTimeLast,PromCnt12,PromCnt36,PromCntAll,PromCntCard12,PromCntCard36,PromCntCardAll,StatusCat96NK,StatusCatStarAll
0,0,NaN,0,NaN,F,U,0,0,0,2,...,66,21,8,17,26,3,8,13,A,0
1,0,NaN,23,67.0,F,U,186800,0,85,1,...,92,26,14,35,79,5,5,24,A,0
2,1,4.0,0,NaN,M,U,87600,38750,36,6,...,111,18,12,23,51,5,11,22,S,1
3,1,10.0,0,NaN,M,U,139200,38942,27,3,...,93,9,14,22,44,2,6,16,E,1
4,0,NaN,35,53.0,M,U,168100,71509,37,1,...,21,21,10,15,13,4,7,6,F,0

## Transform column `DemGender` as follows:

+ 'F' --> 0
+ 'M' --> 1
+ "U' --> np.nan

In [15]:
import numpy as np
kdd98['DemGender'] = kdd98['DemGender'].apply(lambda x: 0 if x=='F' else 1 if x=='M' else np.nan)
kdd98.head()

,TargetB,TargetD,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemMedIncome,DemPctVeterans,GiftCnt36,...,GiftTimeFirst,GiftTimeLast,PromCnt12,PromCnt36,PromCntAll,PromCntCard12,PromCntCard36,PromCntCardAll,StatusCat96NK,StatusCatStarAll
0,0,NaN,0,NaN,0.0,U,0,0,0,2,...,66,21,8,17,26,3,8,13,A,0
1,0,NaN,23,67.0,0.0,U,186800,0,85,1,...,92,26,14,35,79,5,5,24,A,0
2,1,4.0,0,NaN,1.0,U,87600,38750,36,6,...,111,18,12,23,51,5,11,22,S,1
3,1,10.0,0,NaN,1.0,U,139200,38942,27,3,...,93,9,14,22,44,2,6,16,E,1
4,0,NaN,35,53.0,1.0,U,168100,71509,37,1,...,21,21,10,15,13,4,7,6,F,0

## Which columns have missing values?

In [7]:
kdd98.isna().sum()

TargetB                0
TargetD             4843
DemCluster             0
DemAge              2407
DemGender              0
DemHomeOwner           0
DemMedHomeValue        0
DemMedIncome           0
DemPctVeterans         0
GiftCnt36              0
GiftCntAll             0
GiftCntCard36          0
GiftCntCardAll         0
GiftAvg36              0
GiftAvgAll             0
GiftAvgCard36       1780
GiftAvgLast            0
GiftTimeFirst          0
GiftTimeLast           0
PromCnt12              0
PromCnt36              0
PromCntAll             0
PromCntCard12          0
PromCntCard36          0
PromCntCardAll         0
StatusCat96NK          0
StatusCatStarAll       0
dtype: int64

## Which column is most skewed?

In [8]:
kdd98.skew()

C:\Users\monas\AppData\Local\Temp/ipykernel_9308/1490626884.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  kdd98.skew()

TargetB              0.000000
TargetD              5.169490
DemCluster          -0.086715
DemAge              -0.387912
DemMedHomeValue      2.378211
DemMedIncome         0.310025
DemPctVeterans      -0.207059
GiftCnt36            1.288353
GiftCntAll           1.863109
GiftCntCard36        1.172452
GiftCntCardAll       1.331353
GiftAvg36            5.627792
GiftAvgAll          14.486489
GiftAvgCard36        6.051455
GiftAvgLast          9.918893
GiftTimeFirst        0.195399
GiftTimeLast        -0.778047
PromCnt12            2.873723
PromCnt36            0.261958
PromCntAll           0.460765
PromCntCard12        0.684994
PromCntCard36       -0.426600
PromCntCardAll       0.142856
StatusCatStarAll    -0.162858
dtype: float64

## Create a new column that is the log transformation of the found most-skewed column. Then, check the skewness value of this new column.

In [18]:
kdd98['log_GiftAvgAll']=np.log(kdd98[GiftAvgAll])
kdd98['log_GiftAvgAll']

NameError: name 'GiftAvgAll' is not defined

## Create a new column GiftTotalAll, that is the multiplication of column GiftCntAll and GiftAvgAll.

## How many unique values in column `StatusCat96NK`? And which value is most frequent?

## Create dummy columns from `StatusCat96NK`, then drop the most frequent one

### Save the processed data into a new file "in_class_practice.csv"